#ResponseFromArray{
    background-color: black;
    color: white;
    margin: 20px;
    padding: 20px;
}

#TableFromArray{
    background-color: blanchedalmond;
    color: red;
    margin: 20px;
    padding: 20px;
    width: 100%;
}

.TableRow2Class{
    background-color: aliceblue;
    border: 1px black solid;
    border-radius: 200px;
}

.TableRow2Class:hover{
    background-color: rgb(238, 205, 238);
    color: white;
    font-size: large;
}

#TableID{
    width: 200%;
}

#TableID table{
    background-color: blueviolet;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}

#NewTableJS{
    width: 100vw;
}

#number{
    width: 200px;
}

button #AddNew {
    display: flex;
    justify-content: center;
}

#updateform{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
}

#TableData3 img{
    background-color: brown;
    height: 80px;
    width: 80px;
    align-items: center;
    border-radius: 40px;
}

#TableData3:hover img{
    border-radius: 0px;
    height: 200px;
    width: 200px;
}

td{
    text-align: center;
    vertical-align: middle;
}